* {
    /*Zerar estilização*/
    margin: 0;
    padding: 0;
    box-sizing: 0;
    /*Leva em consideração a espussura da borda*/
    font-family: Arial;
}

body {
    display: flex;
    background-color: #000;
    color: #fff;
    justify-content: center;
}

div {
    background-color: blue;
    max-width: 500px;

    padding: 30px;
    border-radius: 10px;

}

#logo{
    
    display: block;
    margin: 0 50%;
    width: 100px;

}

input {
    border: 1px solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

button {
    background-color: red;

    border-radius: 5px;
    margin-left: 3px;
}

button:hover {
    background-color: rgb(124, 29, 29);
}

.btn-add {
    background-color: chartreuse;
    padding: 5px 20px;
    border-radius: 5px;
}

.btn-add:hover {
    background-color: green;
}

ul {
    margin-top: 20px;
}

li {
    margin-bottom: 8px;
    font-weight: bold;
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tarefa-concluida {
    color: rgb(61, 240, 61);
    font-weight: bold;
    text-decoration: line-through;
}

#x {
    margin-left: 20px;
}